<div class="col-md-6 offset-md-3">
    <h3>Update book details</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Enter book id</label>
            <input type="text" id="id" name="id" class="form-control" [(ngModel)]="book.id">
        </div>
        <div class="form-group">
            <label>Enter book title</label>
            <input type="text" id="title" name="title" class="form-control" [(ngModel)]="book.title">
        </div>
        <div class="form-group">
            <label>Enter book author</label>
            <input type="text" id="author" name="author" class="form-control" [(ngModel)]="book.author">
        </div>
        <button class="btn btn-success" type="submit">Update</button>
    </form>
</div>
