<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CarServiceSystem</display-name>
	<filter>
		<description>
		</description>
		<display-name>CustomerRegisterFilter</display-name>
		<filter-name>CustomerRegisterFilter</filter-name>
		<filter-class>CustomerRegisterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CustomerRegisterFilter</filter-name>
		<url-pattern>/CustomerRegisterFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CustomerRegisterFilter</filter-name>
		<servlet-name>CustomerRegister</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerRegister</display-name>
		<servlet-name>CustomerRegister</servlet-name>
		<servlet-class>CustomerRegister</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerLogin</display-name>
		<servlet-name>CustomerLogin</servlet-name>
		<servlet-class>CustomerLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateCarDetails</display-name>
		<servlet-name>UpdateCarDetails</servlet-name>
		<servlet-class>UpdateCarDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>registeredCustomer</display-name>
		<servlet-name>registeredCustomer</servlet-name>
		<servlet-class>registeredCustomer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PendingRequest</display-name>
		<servlet-name>PendingRequest</servlet-name>
		<servlet-class>PendingRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateStatus</display-name>
		<servlet-name>UpdateStatus</servlet-name>
		<servlet-class>UpdateStatus</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Serve</display-name>
		<servlet-name>Serve</servlet-name>
		<servlet-class>Serve</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServiceRequest</display-name>
		<servlet-name>ServiceRequest</servlet-name>
		<servlet-class>ServiceRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckStatus</display-name>
		<servlet-name>CheckStatus</servlet-name>
		<servlet-class>CheckStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerRegister</servlet-name>
		<url-pattern>/CustomerRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerLogin</servlet-name>
		<url-pattern>/CustomerLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCarDetails</servlet-name>
		<url-pattern>/UpdateCarDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registeredCustomer</servlet-name>
		<url-pattern>/registeredCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PendingRequest</servlet-name>
		<url-pattern>/PendingRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStatus</servlet-name>
		<url-pattern>/UpdateStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceRequest</servlet-name>
		<url-pattern>/ServiceRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckStatus</servlet-name>
		<url-pattern>/CheckStatus</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
